button {
    border: 0;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 2rem;
    cursor: pointer;
}

.aceitar {
    background-color: var(--laranja-intenso);
    color: var(--branco);
    padding: 1.3rem 4rem;

}

.aceitar:hover{
    background-color: var(--laranja-escuro);
}

.aceitar:disabled{
    background-color: var(--cinza);
    color: var(--cinza-azulado);
}

.cancelar {
    background-color: inherit;
    color: var(--laranja-intenso);
}

.cancelar:hover {
    background-color: inherit;
    color: var(--laranja-escuro);
}

.cancelar:disabled{
    color: var(--cinza-claro)
}