@import './alignments.css';
@import './buttons.css';
@import './text.css';
@import './inputs.css';
@import './modais.css';
@font-face {
    font-family: "Baloo";
    src: local("Baloo"), url("../assets/fonts/Baloo-Regular.ttf") format("truetype");
}

:root {
    /* Cores */
    --vermelho-perigo: #F21B1B;
    --laranja-intenso: #D13201;
    --laranja-escuro: #AA330F;
    --laranja-claro: #FB3B00;
    --areia: #DA803C;
    --cinza-azulado: #6F7377;
    --cinza-escuro: #393C40;
    --cinza-medio: #525459;
    --cinza-claro: #C9CCD1;
    --azul-link: #045787;
    --verde-sucesso: #006335;
    --cinza: #E5E5E5;
    --branco: #FFFFFF;
    /* Fontes */
    --baloo: 'Baloo', cursive;
    --montserrat: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    font-family: var(--montserrat);
    font-size: 62.5%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 98vw;
}

a {
    color: var(--azul-link);
    font-family: inherit;
    font-size: inherit;
}

.base {
    background-color: var(--branco);
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    supported by Chrome, Edge, Opera and Firefox */
}