.titulo {
    font-family: var(--baloo);
    font-weight: 400;
}

.restaurante {
    color: var(--branco);
    font-size: 4rem;
}

.pagina {
    color: var(--laranja-intenso);
    font-size: 3.2rem;
}

