.imagem-cabecalho {
    background-image: url("../../assets/bg-pizzaria.png");
    background-color: rgba(0, 0, 0, 0);
    height: 32vh;
    width: 100vw;
    border-radius: 0 0 232px 0;
    background-position:center;
    background-size:cover;
    position: relative;
    z-index: 0;
}

.dash-ilustracao {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 66%;
    height: auto;
}

.dash-barril-logo{
    display:flex;
    position: absolute;
    top: 4vh;
    right: 6vw;
    width: 17vw;
    border: solid 1.2rem white;
    background-color: white;
    border-radius: 50%;
}

.dash-barril-logo img {
    align-self: center;
    width: 20vw;
    height: 10vh;
}

.avatar-borda {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    top: 18vh;
    left: 8vw;
    background-color: black;
    height: 17.6rem;
    width: 17.6rem;
    border-radius: 50%;
    border: solid 0.6rem var(--branco);
    overflow: hidden;
    cursor: pointer;
}

.avatar{
    height: 17.6rem;
    width: auto;
}

.localizar-titulo{
    position: absolute;
    top: 18vh;
    left: 23vw;
    color: var(--branco);
    font-size: 4rem;
}

.botao-logout{
    position: absolute;
    top: 6vh;
    left: 57vw;
    color: var(--branco);
    background-color: transparent;
    font-size: 1.6rem;
    font-weight: 400;
    transition: 0.1s;
    cursor: pointer;
}

.botao-logout:hover{
    transform: scale(1.06);
}

.sombreado {
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}