.centraliza {
    align-self: center;
}

.coloca-um-gapizinho {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.topzera {
    margin-top: 4rem;
}

.check-icon {
    margin: 7rem auto 2rem auto;
    width: 11.4rem;
    height: auto;
}

.sucesso-modal {
    color: #525459;
    text-align: center;
    font-size: 2.0rem;
    font-weight: 600;
    margin-bottom: 8rem;
}